# Alire-generated local state
/alire/
/config/
/tests/alire/
/tests/config/

/check_truststores/alire/
/check_truststores/config/
/check_truststores/obj/
/check_truststores/bin/

# Build outputs
/obj/
/lib/
/bin/
/tests/obj/
/tests/bin/

*.ali
*.o
